body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d4792e;
    margin: 0;
    padding: 0;
    z-index: -1;
}

.container-divulgar {
    max-width: 1000px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgba(102, 100, 100, 0.7);
    border-bottom: 1px solid #e70d0d;
    border-top: 1px solid #e70d0d;
    border-radius: 10px;
    padding: 20px;
}

#divulgar-form {
    display: flex;
    flex-direction: row; /* Alinha os filhos em uma linha */
    width: 100%;
}

.image-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  none;
    margin-right: 20px;
}

.image-upload img {
    max-width: 100px;
    height: auto;
    cursor: pointer;
}

.image-upload input[type="file"] {
    display: none;
}

.info-fields {
    flex-grow: 1;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

form {
    width: 100%;
}

label {
    margin-top: 10px;
}

input[type="text"],
input[type="time"] {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
}

.btn {
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #218838;
}

.time-picker {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time-picker-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 25%;
}

.time-picker label,
.time-picker input,
.time-picker span {
    flex: 1;
    margin: 5px;
}

.time-picker input {
    flex: 1;
}


@media  only screen and (max-width: 599px){


    .container-divulgar{
        align-items: center;
        max-width: 360px;
    }
    
    .image-upload {
        margin-left: -1.2rem;
        margin-right: 0px;
    }

    .image-upload img {
        width: 80px;
        height: 80px;
    }

    .info-fields {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 270px;
    }

    .info-fields label,
    .time-picker label {
        width: 100%;
        text-align: left;
        margin-top: 10px;
    }

    .time-picker {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 1rem;
        max-width: 35%;
        margin-right: 10rem;
    }

    .time-picker-time {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 1rem;
        max-width: 35%;
        margin-right: 10rem;;
        
    }

    .time-picker span {
        margin-left: 8rem;
        margin-top: -2rem;
    }

    .time-picker-time span{
        margin-left: 8rem;
        margin-top: -2rem;
    }

    .btn {
        margin-top: 20px;
        width: 100%;
    }
    
    }