body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}



.title-container {
    height: 3.6rem;
    margin-top: -3.3rem; /* Removendo a margem superior padrão do h2 */
    text-align: center;
    border-radius: 10px; /* Arredondando as bordas */
    margin-bottom: 3rem; /* Adicionando margem na parte inferior */    
}

.title-container h2 {
    color: black;
}



.login-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Move a imagem de fundo para trás do conteúdo */

}

.background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.95;
    filter: blur(1.5px);
}

.content {
    opacity: 1;
    position: relative;
    z-index: 1;
    width: 350px;
    padding: 50px;
    border: 3px solid #ccc;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


.form-group {
    opacity: 10;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}

.remember-group{
    width: 15rem;
}

.remember-group input[type="checkbox"]{
    margin-left: -7rem;
}

.remember-group label[for="Login"]{
    margin-left: 1.4em;
    margin-top: -1.1rem;
}


.remember-link-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.link-register{
    margin: 2rem;
    text-align: center;
}

.link {
    width: 10rem;
    margin-top: 10px;
    margin-left: -3rem;
}

.link a {
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #0056b3;
}
