body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #949191; /* Cor de fundo padrão */
    position: relative;
    min-height: 100vh;
    background: url('../images/background.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed; /* Faz a imagem de fundo ficar fixa */
    color: #ffffff; /* Define a cor do texto como branco para todo o corpo */
}

.store-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo preto com 80% de transparência */
    border-bottom: 1px solid #e70d0d;
    border-top: 1px solid #e70d0d;
    position: relative;
    margin: 7rem auto 0 auto;
    padding: 20px;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    color: #ffffff;
    z-index: -1;
}


.store-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    opacity: 1;
    border: 2px solid #949191;
}

.store-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: #ffffff;
}

.store-details {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
}


.contact-button,
.address-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: 16px;
}

.address-button {
    background-color: #28a745;
}

.lojas-container.disabled-click {
    pointer-events: none;
}

.lojas-container.disable-click {
    pointer-events: none;
}