body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0rem;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Move a imagem de fundo para trás do conteúdo */

}

.background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.95;
    filter: brightness(50%);
    filter: blur(1.5px);
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
}

.content {
    opacity: .8;
    background-color: rgba(255, 255, 255, 0.4); /* Opacidade do quadrado do formulário */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra ao redor do quadrado do formulário */
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
}

.btn-register {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-register:hover {
    background-color: #0056b3;
}
