{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/divulgar.css') }}">

<section class="">
    <div class="background-image">
        <img src="{{ url_for('static', filename='images/cadastro_lojas.jpg') }}" alt="Background Image">
    </div>
    <div class="container-divulgar">
        <form id="divulgar-form" action="/divulgar" method="POST" enctype="multipart/form-data">
        
            
            <div class="image-upload">
                <label for="upload">
                    <img id="preview-image" src="{{ url_for('static', filename='icons/img_loja.png')}}" alt="Upload Image">
                </label>
                <input type="file" id="upload" name="preview-image" accept="image/*" required>
            </div>
            <div class="info-fields">
                
                <div class="msg">
                    {% if mensagem %}
                        <p class="error-message">{{ mensagem }}</p>
                    {% endif %}               
                    {% if msg %}
                        <p class="success-message">{{ msg }}</p>
                    {% endif %}
                </div>

                <label for="store-name">Nome da Loja:</label>
                <input type="text" id="store-name" name="store-name" required>
    
                <label for="store-hours">Aberto até: </label>
                <div class="time-picker-time">
                    <input type="time" id="closing-time" name="closing-time" step="300"> 
                    <span id="closing-time-value">00:00</span>
                </div>
                
                <label for="delivery-time">Tempo de Entrega:</label>
                <div class="time-picker">
                    <label for="min-delivery-time">Mínimo:</label>
                    <input type="time" id="min-delivery-time" name="min-delivery-time" step="300" value="00:00">
                    <span id="min-delivery-value">00:00</span>
                
                    <label for="max-delivery-time">Máximo:</label>
                    <input type="time" id="max-delivery-time" name="max-delivery-time" step="300" value="00:00">
                    <span id="max-delivery-value">00:00</span>
                </div>
    
                <label for="address">Endereço:</label>
                <input type="text" id="address" name="address">
    
                <label for="phone">Telefone:</label>
                <input type="text" id="phone" name="phone">
    
                <!-- Campo oculto para enviar o caminho da imagem -->
                <input type="hidden" id="image-src" name="image-src">
    
                <button class="btn" type="submit">Cadastrar Loja</button>
            </div>
        </form>
    </div>
    
</section>

<script src="{{ url_for('static', filename='js/divulgar.js') }}"></script>
{% endblock %}
