ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
httpx 0.13.3 requires idna==2.*, but you have idna 3.6 which is incompatible.










The conflict is caused by:
    The user requested idna==3.6
    anyio 3.7.1 depends on idna>=2.8
    httpx 0.13.3 depends on idna==2.*

To fix this you could try to:
1. loosen the range of package versions you've specified
2. remove package versions to allow pip attempt to solve the dependency conflict
