<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barra de Navegação Fixa</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <section class="navbar-top">
        <div class="navbar">
            <div class="navbar-left">
                <h1>Meu Site</h1>
            </div>
            <div class="navbar-right">
                <div class="usuario">
                    {% if user %}
                        <p>{{ user }}</p>
                    {% endif %}
                </div>
                <div class="dropdown">
                    <a href="/login" id="profile-link" data-logged-in="{% if user %}true{% else %}false{% endif %}">
                        {% if user %}
                            <img src="{{ url_for('static', filename='images/Desconectado.png') }}" alt="Ícone de Perfil Conectado" class="profile-icon">
                        {% else %}
                            <img src="{{ url_for('static', filename='images/Conectado.png') }}" alt="Ícone de Perfil Desconectado" class="profile-icon">
                        {% endif %}
                    </a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('logout') }}">Sair</a>
                        <a>Editar</a>
                    </div>
                </div>
            </div>
        </div>   
    </section>
        <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>
