{% extends "base.html" %}

{% block content %}
    <div class="sidebar-left">
        <h2>Sidebar Esquerda</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    
    <div class="separator-l"></div> 

    <div class="main-content" id="main-content">
        <h1>{{ content.title }}</h1>
        <p>{{ content.content }}</p>
        
        {% if content.lojas %}
        <div class="lojas-container">
            {% for loja in content.lojas %}
            <a href="#" class="loja-item-link" onclick="selectStore(event, '{{ loja['store_name'] }}', '{{ loja['store_details'] }}', '{{ loja['opening_hours'] }}', '{{ url_for('static', filename=loja['image_path']) }}')">
                <div class="loja-item">
                    <img src="{{ url_for('serve_data', filename=loja['image_path']) }}" alt="{{ loja['store_name'] }}" width="100">
                    <div class="info_lojas">
                        <h3>{{ loja['store_name'] }}</h3>
                        <p>{{ loja['store_details'] }}</p>
                        <p>Funcionamento: {{ loja['opening_hours'] }}</p>
                    </div>
                </div>
            </a>                                       
            {% endfor %}
        </div>                
        {% else %}
            <p>Não há lojas para mostrar no momento.</p>
        {% endif %}
    </div>  
                       
    <div class="separator-r"></div> 

    <div class="sidebar-right">
        <h2>Sidebar Direita</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}
