<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-TileImage" content="path/to/tile-image.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#4285f4">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Login</title>
</head>
<body>
    <div class="login-container">
        <div class="background-image">
            <img src="{{ url_for('static', filename='images/login2.jpg') }}" alt="Background Image">
        </div>
        <div class="content">
            <div class="title-container">
                <h2>Login</h2>
            </div>

            <div class="title-before"></div>
            <div class="title-after"></div>
            <div class="msg">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <p class="{{ category }}-message">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
                       
            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="email_or_username"><i class="fas fa-user"></i> Usuario ou Email:</label>
                    <input type="text" id="email_or_username" name="email_or_username" required>
                    <i class='bx bx-user'></i>
                </div>
                
                <div class="form-group">
                    <label for="password"><i class="fas fa-lock"></i> Senha:</label>
                    <input type="password" id="password" name="password" required>
                    <i class='bx bx-lock-alt'></i>
                </div>

                <div class="remember-link-group">
                    <div class="remember-group">
                        <input type="checkbox" id="Login" name="remember">
                        <label for="Login">Lembrar-me</label>
                    </div>
                    <div class="link">
                        <a href="{{ url_for('recuperar') }}">Recuperar senha</a>
                    </div>
                </div>

                <input type="submit" class="submit-btn" value="Login">
            </form>
            <div class="link-register">
                Não possui uma conta? <a href="{{ url_for('register') }}">Registre-se</a>
            </div>
        </div>
    </div>
</body>
</html>
