<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/recuperar.css') }}">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-TileImage" content="path/to/tile-image.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#4285f4">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <title>Confirmação de Email</title>
</head>
<body>
    <div class="container">
        <div class="background-image">
            <img src="{{ url_for('static', filename='images/recuperar.jpg') }}" alt="Background Image">
        </div>
        <div class="content">
            <form action="/recuperar" method="POST">
                <h2>Confirmação de Email</h2>
                
                <div class="msg">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <p class="{{ category }}-message">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>

                <input type="submit" class="btn-recover" value="Recuperar Email">
            </form>
        </div>
    </div>
</body>
</html>
