<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/redefinir.css') }}">
    <title>Redefinição de Senha</title>
</head>
<body>
    <div class="container">
        <div class="background-image">
            <img src="{{ url_for('static', filename='images/recuperar.jpg') }}" alt="Background Image">
        </div>
        <div class="content">
            <form action="/redefinir" method="POST">
                <h2>Redefinição de Senha</h2>

                <div>             
                    {% if mensagem %}
                        <p>{{ mensagem }}</p>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" value="{{ email }}" readonly>
                </div>

                <div class="form-group">
                    <label for="codigo">Código de Autenticação:</label>
                    <input type="text" id="codigo" name="codigo" required>
                </div>

                <div class="form-group">
                    <label for="nova_senha">Nova Senha:</label>
                    <input type="password" id="nova_senha" name="nova_senha" required>
                </div>

                <div class="form-group">
                    <label for="confirmar_senha">Confirmar nova Senha:</label>
                    <input type="password" id="confirmar_senha" name="confirmar_senha" required>
                </div>

                <input type="submit" class="btn-redefinir" value="Redefinir Senha">
            </form>
        </div>
    </div>
</body>
</html>
