<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}">
    <title>Registro de Usuário</title>
</head>
<body>
    <div class="container">
        <div class="background-image">
            <img src="{{ url_for('static', filename='images/register.jpg') }}" alt="Background Image">
        </div>
        <div class="content">
            <form action="/register" method="POST">
                <h2>Registro de Usuário</h2>
                <!-- Aqui será exibida a mensagem de erro, se houver -->
                {% if mensagem %}
                    <p class="error">{{ mensagem }}</p>
                {% endif %}
                <!-- Fim da exibição da mensagem de erro -->
                <div class="form-group">
                    <label for="username">Nome de Usuário:</label>
                    <input type="text" id="username" name="username" required>
                </div>

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>

                <div class="form-group">
                    <label for="password">Senha:</label>
                    <input type="password" id="password" name="password" required>
                </div>

                <div class="form-group">
                    <label for="confirm_password">Confirmar Senha:</label>
                    <input type="password" id="confirm_password" name="confirm_password" required>
                </div>
                <input type="submit" class="btn-register" value="Registrar">
            </form>
        </div>
    </div>
</body>
</html>
